/*articuloDetalle*/
.encabezado{
    padding: 10px;
    display: flex;
    
}
.encabezado span{
    background-color: bisque;
    padding: 2px 10px 2px 10px;
    margin-left: 20px;
    border-radius: 3px;
}
.encabezado span p {
    margin: 0px;
}
.prece{
    position: absolute;
    right: 20px;
}
.detalle-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.atrib{
    display: flex;
    flex-direction: column;
}
.atrib-icon{
    display: flex;
    flex-direction: row;
    
}
.fa-icon{
    font-size: 30px;
   margin-right: 10px;
}
/*artuculoDestacados*/
.carrusel{
    margin-top: 50px;
}

/* lista-articulo*/
.listaArticulo{
    display: flex;
}



@media (max-width: 576px) {
    .listaArticulo{
        display: block;
    }
}