/*contact*/
.contacto{
    background: lightgrey;
    padding: 30px;
}
.contacto-form{
    text-align: start;
    
}
.submit{
    text-align: center;
}

/* login */
.login{
    display: grid;
    grid-auto-rows: auto;
    justify-items: center;
    padding: 60px;
    position: relative;
}
.alert-pl{
    position: absolute;
    top: 50%;
    height: 200px;
}
.alert-pl .conten{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}